<!-- will make it automatically change after making crud function -->
<div class="dummyRoutine">
    <div class="dummyRoutine__title">
        <h1 id="routineName"><%= selectedRoutine.routinename %></h1>
        <p> <%= selectedRoutine.description %></p>
        <hr>
    </div>
    
    <div class="dummyRoutine__content">
        <div class="dummyRoutine__exercise">
            <table id="exerciseTable">
                <% selectedRoutine.exercises.forEach(exercise => { %>
                    <li><%= exercise.exercisename %></li>
                <% }) %>
                <!-- dynamically updated based on selected routine -->
            </table>
            <!-- Center the button please -->
            <a class='AddExercise' onclick="addExerciseSidebar()">+ Add Exercise</a>
    </div>
        
        <%- include('info.ejs') %>
    </div>
    
</div>