<div class="forgot-password">
    <div class="forgot-password-container">
        <h1>Forgot Password</h1>
        <form action="/forgotpassword" method="POST">
            <div class="input-container forgot-password-input-container">
                <input type="email" id="email" name="email" placeholder="Email" required autocomplete="off">
            </div>
            <h3 class="">Return to <a href="/login">login</a></h3>
            <button type="submit" class="sub forgot-password-sub">Reset Password</button>
        </form>
    </div>
</div>

