<div class="content">
    <%- include('./pages/routine/sidebar/sidebar.ejs') %>
    <div class="content__routine">
        <% if (isSelectedRoutine) { %>
            <%- include('./pages/routine/dummyRoutine.ejs') %>
        <% } else { %>
            <%- include('./pages/routine/welcome.ejs') %>
        <% } %>
    </div>
    
</div>
