<div class="content">
    <%- include('sidebar.ejs') %>
    <div class="content__routine">
        <% if (isSelectedRoutine) { %>
            <%- include('dummyRoutine.ejs') %>
        <% } else { %>
            <%- include('routineGuide.ejs') %>
        <% } %>
    </div>
    
</div>
