<div class="login">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password" autocomplete="off">
        <br>
        <input type="submit" class="sub" value="Login">
    </form>
    <div class="loginBtn">
        <h3>New? <a href="/signup">Sign up here</a></h3>
    </div>
</div>

