<body>
    <div class="reset-password-container">
        <h1>Reset Password</h1>
        <form action="/resetpassword?email=<%= email %>" method="POST">
            <div class="input-container">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="input-container">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="reset-sub">Reset Password</button>
        </form>
    </div>
</body>
