<!-- style this please -->
<div class="routineGuide">
    <div class="routineGuide__title">
        <h1 id="routineName">Guide</h1>
        <hr>
    </div>
    
    <div class="routineGuide__content">
        <!-- add the guide please -->
        <p>To use the app </p>
    </div>    
    <%- include('info.ejs') %>
</div>