<div class="sidebar">
    <div class="sidebar__routine">
        <h2 class="sidebar__title"><%= user.username %>'s Routine</h2>
        <div class="sidebar__list" id="sidebar__list">
            
            <a class='AddRoutine' onclick="addRoutineSidebar()">+ Add Routine</a>
            <% if (routines.length) { %>
                <% routines.forEach(routine => { %>
                    <a href="/user/<%= user._id %>/routine/<%= routine._id %>" class="_active"><%= routine.routinename %></a>
                <% }) %>
                <% } %>
            
        </div>
    </div>
</div>