<body class="signup-body">
    <div class="signup container">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <div class="input-container signup-input">
                <i class="icon fas fa-user"></i>
                <input type="text" name="username" placeholder="Name" autocomplete="off">
            </div>
            <br>
            <div class="input-container signup-input">
                <i class="icon fas fa-envelope"></i>
                <input type="text" name="email" placeholder="Email" autocomplete="off">
            </div>
            <br>
            <div class="input-container signup-input">
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
                <i class="icon fas fa-lock"></i>
                <i class="fas fa-eye icon" id="togglePassword"></i>
                <i class="fas fa-eye-slash icon" id="togglePassword"></i>
            </div>
            <br>
            <input type="submit" class="sub">
            <div class="signupBtn">
                <a href="/">Back to login page</a>
            </div>
        </form>
    </div>
</body>
