<div class="welcomePage">
    
    <div class="welcomePage__content">
        <div class="welcomePage__title">
            <h1>Welcome <%= user.username %> to FITTRACK</h1>
            <hr>
        </div>
        <p>Track your daily routine and stay fit</p>
        <p>To get started, click <span style="color: #fbaf41;">+Add Routine</span> on the left sidebar</p>
        <p>Navigate through the existing Routine</p>
        <p>For more information. Check out the <a href="/<%= user.username %>/guide">Guide</a></p>
        <br>
        <div>
            <%- include('info.ejs') %>
        </div>
    </div>
    
</div>
