*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
div{
    display: grid;
    place-items: center;
}
h1{
    font-size: 5rem;
    margin-bottom: 30px;
}
h2{
    font-size: 4rem;
}