* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 5px solid rgb(111, 70, 23);
    text-align: center; 
}

.container h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(111, 70, 23); 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sub {
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 155, 52);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub:hover {
    background-color: rgb(200, 140, 30);
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: rgb(111, 70, 23);
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup a:hover {
    color: rgb(200, 140, 30);
}
