@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --yellow: #fbaf41;
    --darkgray: #333;
    --gray: #666;;
    --lightgray: #808183;
}



body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* login buat ulang design nya, coba suruh marcia*/
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    .container {
        max-width: 400px;
        width: 100%;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: 5px solid rgb(111, 70, 23);
        text-align: center;
    }
    
    .container h1 {
        margin-top: 20px;
        margin-bottom: 30px;
        color: rgb(111, 70, 23);
    }
    
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .sub {
        width: 100%;
        padding: 10px;
        background-color: rgb(223, 155, 52);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .sub:hover {
        background-color: rgb(200, 140, 30);
    }
    
    .signup {
        text-align: center;
        margin-top: 20px;
    }
    
    .signup a {
        color: rgb(111, 70, 23);
        text-decoration: none;
    }
    
    .signup a:hover {
        text-decoration: underline;
    }
}

/* sign up, ini juga*/
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    
    .container {
        max-width: 400px;
        width: 100%;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: 5px solid rgb(111, 70, 23);
        text-align: center; 
    }
    
    h1 {
        margin-top: 20px;
        margin-bottom: 30px;
        color: rgb(111, 70, 23); 
    }
    
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .sub {
        width: 100%;
        padding: 10px;
        background-color: rgb(223, 155, 52);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .sub:hover {
        background-color: rgb(200, 140, 30);
    }
    
    .signupBtn {
        margin-top: 20px;
    }
    
    .signupBtn a {
        color: rgb(111, 70, 23);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .signupBtn a:hover {
        color: rgb(200, 140, 30);
    }
    
}

    .header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        background-color: var(--white);
        color: var(--white);
        border-bottom: var(--lightgray) 1px solid;
    }

    .header__logo {
        font-size: 36px;
        text-decoration: none;
        color: var(--black);
        font-weight: 800;
        padding: 0px 60px;
    }

    .header__nav {
        display: flex;
        align-items: center;
        margin-left: 30px;
        color: var(--lightgray);
    }

    .header__nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .header__nav ul li {
        margin-right: 20px;
    }

    .header__nav a {
        text-decoration: none;
        color: var(--black);
        font-weight: 600;
    }
.header {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--white);
    color: var(--white);
    border-bottom: var(--lightgray) 1px solid;
}
    
.header__logo {
    font-size: 36px;
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
    padding: 0px 60px;
}
    
.header__nav {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: var(--lightgray)
}
    
.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
    
.header__nav ul li {
    margin-right: 20px;
}
    
.header__nav a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.footer {
    background-color: var(--darkgray);
    color: var(--white);
    padding: 20px;
    text-align: center;
    bottom: 0;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__link {
    color: var(--yellow);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}
.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    padding-bottom: 10px;
    width: auto;
    min-height: 100vh;
    max-height: auto;
}

.sidebar {
    color: var(--black);
    padding: 20px;
    border-right: var(--lightgray) 1px solid;
    font-size: 15px;
}

.sidebar__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 15px 0px;
    ._active {
        text-decoration: none;
        padding: 10px;
        border: var(--lightgray) 1px solid;
        border-radius: 10px;
        background-color: #fdd7a0;
        color: #fe5c34;
    }
    a {
        text-decoration: none;
        color: var(--black);
        padding: 10px;
        border: var(--lightgray) 1px solid;
        border-radius: 10px;
    }
    a:hover {
        background-color: var(--yellow);
        cursor: pointer;
    }
}


.dummyRoutine{
    padding: 20px;
}

.dummyRoutine__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0px 15px;
    p{
        font-size: 12px;
        font-weight: 400;
    }   
}
.dummyRoutine__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    padding: 20px;
}
.dummyRoutine__exercise {
    padding: 20px;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;

    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    
}

/* right side bar */
.info {
    
    padding: 20px;
    padding: 20px;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;
    form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
    
    input[type=text] {
        width: 100%;
        padding: 12px 12px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid var(--darkgray);
    }
    input[type=text]:focus {
        outline: none;
        border-bottom: 2px solid var(--darkgray);
    }
}
.dropdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


