@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --yellow: #fbaf41;
    --darkgray: #333;
    --gray: #666;;
    --lightgray: #808183;
    --red: #ff5656;
    --darkred: #D00404;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    background-color: var(--white);
    cursor: pointer;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
}
button:hover {
    background-color: var(--yellow); /* Change background color when hover */
    color: var(--black); /* Change text color when hover */
}

/* login buat ulang design nya, coba suruh marcia*/
.signup-body,
.login-body {
    background-image: url('img/bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.login-container,
.container.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 5px solid orange;
    text-align: center;
    color: orange;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="submit"] {
    width: calc(100% - 22px);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffe4b2;
    font-family: 'Poppins', sans-serif;
}


.sub {
    background-color: rgb(223, 155, 52);
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub:hover {
    background-color: rgb(200, 140, 30);
}
.login-container h1,
.container.signup h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: orange;
}

.input-container {
    position: relative;
}

.input-container input[type="email"],
.input-container input[type="password"] {
    padding-right: 0px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-size: 15px;
}
#togglePassword {
    left: 300px;
}
.loginBtn h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.signupBtn {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    font-weight: 400; /* Ketebalan font */
    font-size: 14px; /* Ukuran font */
    color: #511cf1; /* Warna teks */
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--white);
    color: var(--white);
    border-bottom: var(--lightgray) 1px solid;
}
    
.header__logo {
    font-size: 36px;
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
    padding: 0px 60px;
}
    
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    color: var(--lightgray)
}
    
.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
    
.header__nav ul li {
    margin-right: 20px;
}
    
.header__nav {
    
    font-weight: 600;
    a {
        text-decoration: none;
    }
    .nav {
        color: var(--black);
    }
    .logoutBtn {
        text-decoration: none;
        color: var(--black);
        background-color: var(--yellow);
        margin-right: 100px;
        padding: 10px;
        border: var(--lightgray) 1px solid;
        border-radius: 10px;
    }
}


.footer {
    background-color: var(--darkgray);
    color: var(--white);
    padding: 20px;
    text-align: center;
    bottom: 0;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__link {
    color: var(--yellow);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}
.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    padding-bottom: 10px;
    width: auto;
    min-height: 85vh;
    max-height: auto;
    background-image: url('img/white-texture-background.jpg');
    background-size: cover;
    background-position: center;
}

.guidePage{
    padding: 10px;
    width: auto;
    min-height: 105vh;
    max-height: auto;
    background-image: url('img/white-texture-background-2.jpg');
    background-size: cover;
    background-position: center;
}

.sidebar {
    color: var(--black);
    padding: 20px;
    border-right: var(--lightgray) 1px solid;
    font-size: 15px;
}

.sidebar__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 15px 0px;
    ._active {
        text-decoration: none;
        padding: 10px;
        border: var(--lightgray) 1px solid;
        border-radius: 10px;
        background-color: #fdd7a0;
        color: #fe5c34;
    }
    a {
        text-decoration: none;
        color: var(--black);
        padding: 10px;
        border: var(--lightgray) 1px solid;
        border-radius: 10px;
    }
    a:hover {
        background-color: var(--yellow);
        cursor: pointer;
    }
}


.dummyRoutine, .routineGuide, .exerciseGuide{
    padding: 20px;
    
}

.dummyRoutine__title {
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0px 15px;
    p{
        font-size: 12px;
        font-weight: 400;
    }   
}

.routineBtnpos {
    justify-self: center;
    align-self: center;
}


.dummyRoutine__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    padding: 20px;
}
.dummyRoutine__exercise {
    padding: 20px;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;

    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    .setIndex {
        display: grid;
        grid-template-columns: 20px 1fr;
    
    
    }
}

.deleteBtn {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: var(--darkred);
    color: var(--white);
}

/* right side bar */
.info {
    
    padding: 20px;
    padding: 20px;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;
    form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
    .ExerciseForm {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    input[type=text] {
        width: 100%;
        padding: 12px 12px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid var(--darkgray);
    }
    input[type=text]:focus {
        outline: none;
        border-bottom: 2px solid var(--darkgray);
    }
}
.dropdown {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.AddExercise {
    text-decoration: none;
    color: var(--black);
    padding: 10px;
    border: var(--lightgray) 1px solid;
    border-radius: 10px;

}
.AddExercise:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

#searchInput {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

#searchList {
    list-style-type: none;
    padding: 0;

}

#searchList li {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
}

.customExList{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
}

.about-page {
    p {
        margin-bottom: 20px; 
        text-align: left; 
        margin-left: 5%; 
        margin-right: 5%; 
        max-width: 90%; 
    }

    h1 {
        text-align: center;
        margin-top: 0vh;
        margin-bottom: 2vh;
        color: rgb(223, 155, 52);
        background-image: url('https://25070129.fs1.hubspotusercontent-eu1.net/hubfs/25070129/Images%20-%20Blog/Vignettes/57.svg');
        background-size: cover;
        padding: 10vw;
    }

    h2 {
        text-align: left;
        color: rgb(223, 155, 52);
        margin-left: 5%;
        max-width: 90%;
    }

    .image-right {
        margin: 20px auto;
        width: 100%;
        height: auto;
    }
}

.about-page__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
}

.guide {
    background-color: rgba(128, 128, 128, 0.5);
    margin: 3vh 5vh;
    border-radius: 10px;
    padding: 20px
}

.guide__content{
    border: var(--lightgray) 1px solid;
    border-radius: 10px;
    margin: 30px 50vh;
}

.routineGuide__content, .exerciseGuide__content {
    grid-gap: 10px;
}

.container .ssimg{
    margin: 20px auto;
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.welcomePage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}