<div class="about-page">
    
    <h1>About Us</h1>
    <div class="about-page__content">
        <div class="text">
            <h2>Who Are We?</h2>
            <p>FitTrack is your dedicated fitness companion, designed to simplify your journey towards better health and fitness. We firmly believe in the profound impact of small steps on your overall fitness journey, and our mission is to empower you to unlock your full potential.</p>
            <p>We're more than just a fitness tracking platform—we're a team of passionate individuals committed to revolutionizing your approach to health and fitness. With personalized insights, actionable recommendations, and expert guidance, we're here to support you every step of the way.</p>
            <p>At FitTrack, we celebrate every milestone and triumph, no matter how small, because we understand that progress is a journey. Together, let's embark on this transformative path towards a healthier, happier you.</p>
            <p>Welcome to FitTrack—where your journey to fitness begins and every achievement matters.</p>
        </div>
        
        <img class="image-right" src="https://nyulangone.org/news/sites/default/files/styles/hero/public/2023-03/top-five-fitness-trends.jpg?h=06ac0d8c&itok=nQ6ruWKi" alt="Google Logo">
    </div>
    
    

</div>