<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="name" placeholder="Name" autocomplete="off">
            <br>
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <br>
            <input type="submit" class="sub" value="Login">
        </form>
        <div class="signup">
            <h3>New? <a href="/signup">Sign up here</a></h3>
        </div>
    </div>
</body>
</html>
