<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="container">
        <h1>Signup</h1>

        <form action="/signup" method="POST">
            <input type="text" name="name" placeholder="Name" autocomplete="off">
            <br>
            <input type="text" name="email" placeholder="Email" autocomplete="off">
            <br>
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <br>
            <input type="submit" class="sub">

            <div class="signup">
                <a href="/">Back to login page</a>
            </div>
        </form>
    </div>
</body>
</html>
